numpy==1.26.4
scipy==1.15.2
bitstruct==8.17.0
brian2==2.5.1
commonmark==0.9.1
cython==0.29.34
docutils==0.18.1
jax==0.4.28
jaxlib==0.4.28
jinja2==3.1.2
jupyter-client==8.2.0
jupyter-core==5.3.0
jupyterlab-pygments==0.2.2
llvmlite==0.44.0
matplotlib==3.7.1
markupsafe==2.1.2
ml-dtypes==0.2.0
mpmath==1.3.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nbsphinx==0.9.1
numba==0.61.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opt-einsum==3.3.0
pandoc==2.3
pandocfilters==1.5.0
pybind11==2.10.4
pygments==2.15.1
pytest==7.3.1
pytest-test-groups==1.0.3
pytest-random-order==1.1.0
pytest-xdist==3.3.1
pytest-cov==6.1.1
coverage==7.8.0
python-dateutil==2.8.2
recommonmark==0.7.1
rich==13.3.5
samna==0.45.3.0
sinabs==1.2.5
sphinx==6.2.1
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
xylosim==0.1.3
