.idea
output
.pyc
__pycache__
.ipynb_checkpoints
.pytest_cache
AnomalyDetection/rate-based/build
AnomalyDetection/rate-based/dist
*.egg-info/*
docs/_build
docs/reference/_autosummary
build/
dist/
/docs/advanced/CHANGELOG.md
/docs/tutorials/.vscode
/docs/tutorials/.ipynb_checkpoints
test_net_torch_config
test.json
