.idea
output
._.DS_Store
.DS_Store
.pyc
__pycache__
.ipynb_checkpoints
.pytest_cache
*.egg-info/*
docs/_build
docs/reference/_autosummary
build/
dist/
/docs/advanced/CHANGELOG.md
*.ipynb_checkpoints
test_net_torch_config
test.json
**/.vscode
*.so
*samna.log
docs/tutorials/cache
docs/tutorials/data
docs/tutorials/lightning_logs
docs/tutorials/mlruns
*test_samna_config.json
tests/tests_default/mlruns
tests/tests_default/lightning_logs
tests/tests_default/MNIST
_fp_q_model_deployments.ipynb
*.egg-info
*.DS_Store

docs/basics/MNIST/raw/*